<article class="message is-dark">
    <div class="message-header">
        <a href="/post/{{id}}">{{title}}</a>

        <p>
            <strong>{{user.username}}</strong> on <i>{{format_date created_at}}</i>
            |
            <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </p>
    </div>

    <div class="message-body" id="main-page-text">
        <span>{{content}}</span>

    </div>
</article>